@import "@fontsource/albert-sans/400.css";
@import "@fontsource/albert-sans/700.css";

:root {
    --gradient-blue: #4DA4F4;
    --gradient-purple: #E926FA;
    --primary-color: #9d65f7;
    --background-color: #f1f1f1;
    --text-color: #002c45;
    --light-gray: #D5DCE3;
    --gradient: linear-gradient(135deg, var(--gradient-blue) 0%, var(--gradient-purple) 100%);
}

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Albert Sans', sans-serif;
    color: var(--text-color);
    background-color: var(--background-color);
    scroll-behavior: smooth;
}

::selection {
    background: var(--primary-color);
    color: white;
    -webkit-text-fill-color: initial;
}

:focus-visible {
    outline: 1px solid var(--primary-color);
    outline-offset: 0;
}
