---
import ResumeBox from '$components/resume/containers/ResumeBox.astro';
import { Image } from 'astro:assets';
import profilePic from '$assets/resume/profile.png';
import { useTranslations } from '$i18n/utils';
import { resumeTranslations } from '$i18n/translations/resume';
import type { Language } from '$i18n/utils';

const language = Astro.currentLocale as Language;
const t = useTranslations(resumeTranslations, language)
---


<style>
    .img-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    img {
        height: 8rem;
        width: 8rem;
        border-radius: 100%;
    }

    .info-container {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .bold {
        font-weight: bold;
    }

    @media all and (max-width: 53rem) {
        .info-container {
            gap: .5rem;
        }
    }

    @media all and (max-width: 35rem) {
        img {
            height: 6rem;
            width: 6rem;
        }
    }

    @media all and (max-width: 30rem) {
        .img-container {
            display: none;
        }
    }
</style>


<ResumeBox direction="row">
    <div class="img-container">
        <Image src={profilePic} alt="Julien Wolff" loading="eager"/>
    </div>
    <div class="info-container">
        <h1>Julien WOLFF</h1>
        <span class="bold">
            {t('header.subtitle')}
        </span>
        <span>
            {t('header.description')}
        </span>
    </div>
</ResumeBox>
