<style>
    .container {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: .5rem;
    }

    .level-bullet {
        margin-left: .1rem;
        width: .75rem;
        height: .75rem;
        display: grid;
        place-items: center;
    }
</style>


<div class="container">
    <div class="level-bullet">
        <svg height="100%" width="100%" viewBox="0 0 100 100">
            <rect x="0" y="0" width="100" height="100" rx="40" ry="40" fill="url(#icon-gradient)"/>
        </svg>
    </div>
    <div class="competence">
        <slot/>
    </div>
</div>
