---
interface Props {
    direction?: 'row' | 'column';
    mb?: boolean;
}

const { direction = 'column', mb = false } = Astro.props;
---

<style>
    div {
        background: var(--box-background);
        box-shadow: var(--box-shadow);
        padding: var(--spacing);
        border-radius: 1rem;
        display: flex;
        gap: var(--spacing);
    }

    div.mb {
        margin-bottom: var(--spacing);
    }
</style>

<div style={{ flexDirection: direction }} class:list={[ { mb } ]}>
    <slot/>
</div>
