---
import DynamicAge from './DynamicAge.svelte';
import { useTranslations, type Language } from '../../i18n/utils';
import { indexTranslations } from '../../i18n/translations';

const language = Astro.currentLocale as Language;
const t = useTranslations(indexTranslations, language);
---

<section id="about">
    <div class="content">
        <h1>{t('about-me.who-am-i')}</h1>

        <p>{t('about-me.julien')}</p>
        <p>
            {t('about-me.age-im')}
            <DynamicAge {language} client:idle/>
            {t('about-me.life-in-france')}
        </p>
        <p>{t('about-me.early-years')}</p>
        <p>{t('about-me.code')}</p>
    </div>
</section>

<style>
    section {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        min-height: calc(80svh);
        padding: 2rem;
        scroll-margin-top: 8rem;
    }

    .content {
        max-width: 40rem;
        width: 100%;
        font-size: 1.125rem;
    }

    @media screen and (max-width: 28rem) {
        .content {
            font-size: 1rem;
        }
    }
</style>
